<footer class="app-footer">
    <div class="container">
        <p>
            تمامی حقوق مادی و معنوی این سایت متعلق به <a href="/"> آتیه کار </a>
            می باشد،  کپی برداری از منابع پیگرد قانونی خواهد داشت .
        </p>
        <div class="clearfix"></div>
    </div>
</footer>
