<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Dashboard" asp-area="Admin">
                    <i class="nav-icon icon-speedometer"></i> پیشخوان
                    <span class="badge badge-primary">جدید</span>
                </a>
            </li>
            <li class="nav-title">تنظیمات</li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Language" asp-action="List" asp-area="Admin">
                    <i class="nav-icon icon-drop"></i> زبان ها
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="typography.html">
                    <i class="nav-icon icon-pencil"></i> Typography
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-bell"></i> Notifications
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="notifications/alerts.html">
                            <i class="nav-icon icon-bell"></i> Alerts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notifications/badge.html">
                            <i class="nav-icon icon-bell"></i> Badge
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notifications/modals.html">
                            <i class="nav-icon icon-bell"></i> Modals
                        </a>
                    </li>
                </ul>
            </li>

            <li class="divider"></li>
            <li class="nav-title">Extras</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-star"></i> Pages
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html" target="_top">
                            <i class="nav-icon icon-star"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register.html" target="_top">
                            <i class="nav-icon icon-star"></i> Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="404.html" target="_top">
                            <i class="nav-icon icon-star"></i> Error 404
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="500.html" target="_top">
                            <i class="nav-icon icon-star"></i> Error 500
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
