@*@using Microsoft.AspNetCore.Mvc.Localization
  @inject IHtmlLocalizerFactory HtmlLocalizerFactory*@

@{
  ViewData["Title"] = "Columns One";
  Layout = "_ColumnsOneLayout";

  //var localizer = HtmlLocalizerFactory.Create(
  //  baseName: "Controllers.HomeController" /*مشخصات كنترلر جاري*/,
  //  location: "AtiehJobCore.Resources" /*نام اسمبلي ثالث*/);

  //var sharedLocalizer = HtmlLocalizerFactory.Create(
  //  baseName: "SharedResource" /*مشخصات*/,
  //  location: "AtiehJobCore.Resources" /*نام اسمبلي ثالث*/);


}

<h1>OneColumn</h1>
<div></div>

<div>@DateTime.Now.ToLongDateString()</div>