@using AtiehJobCore.Core.Enums
@model LoginModel

@{
    Layout = "_AccountLayout";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        registerUrl = WebHelper.ModifyQueryString(registerUrl, "returnurl=" + WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]), null);
    }
    //var userLoginType = Model.UserLoginType;
}
@*<style>
        .selector-for-some-widget {
            box-sizing: content-box;
        }
    </style>*@
@*<meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">*@
@*<link href="~/temp/bootstrap-material-design.css" rel="stylesheet" />*@

@*<link href="/temp/materialize.min.css" rel="stylesheet" />*@
@*<link href="~/temp/ghpages-materialize.min.css" rel="stylesheet" />*@
@*<link href="~/temp/icon.min.css" rel="stylesheet" />*@

<div class="container">
    <div class="form-group">
        <div class="floating-label floating-label-lg">
            <label for="exampleFloatingLabel6">Large</label>
            <input aria-describedby="exampleFloatingLabel6Help" class="form-control" id="exampleFloatingLabel6" placeholder="Optional placeholder" type="text">
            <small id="exampleFloatingLabel6Help" class="form-text text-muted">Help text placed inside <code>.floating-label</code>.</small>
        </div>
    </div>
    <div class="form-group">
        <div class="floating-label">
            <label for="exampleFloatingLabel7">Default</label>
            <input class="form-control" id="exampleFloatingLabel7" placeholder="Optional placeholder" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="floating-label floating-label-sm">
            <label for="exampleFloatingLabel8">Small</label>
            <input aria-describedby="exampleFloatingLabel8Help" class="form-control" id="exampleFloatingLabel8" placeholder="Optional placeholder" type="text">
        </div>
        <small id="exampleFloatingLabel8Help" class="form-text text-muted">Help text placed outside <code>.floating-label</code>.</small>
    </div>


    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>


    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    This is an inline input field:
                    <div class="input-field inline">
                        <input id="email_inline" type="email" class="validate">
                        <label for="email_inline">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">First Name</label>
                </div>
            </div>
        </form>
    </div>

    <form action="#">
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </form>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="input_text" type="text" data-length="10">
                    <label for="input_text">Input text</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea2">Textarea</label>
                </div>
            </div>
        </form>
    </div>
    <div>
        <h5 class="left-align">This should be left aligned</h5>
    </div>
    <div>
        <h5 class="right-align">This should be right aligned</h5>
    </div>
    <div>
        <h5 class="center-align">This should be center aligned</h5>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <span class="black-text">
                        This is a square image. Add the "circle" class to it to make it appear circular.
                    </span>
                </div>
            </div>
        </div>
    </div>


    <a class="btn-floating pulse"><i class="material-icons">menu</i></a>
    <a class="btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
    <a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>

    <div class="col s12 m8">
        <p class="z-depth-5">z-depth-5</p>
    </div>

    <hr />

    <form action="#">
        <p>
            <label>
                <input type="checkbox" />
                <span>Red</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" checked="checked" />
                <span>Yellow</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Filled in</span>
            </label>
        </p>
        <p>
            <label>
                <input id="indeterminate-checkbox" type="checkbox" />
                <span>Indeterminate Style</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" checked="checked" disabled="disabled" />
                <span>Green</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" disabled="disabled" />
                <span>Brown</span>
            </label>
        </p>
    </form>
</div>
<form class="form">
    <div class="switch-field">
        <div class="switch-title">Is this awesome?</div>
        <input type="radio" id="switch_left" name="switch_2" value="yes" checked />
        <label for="switch_left">Yes</label>
        <input type="radio" id="switch_right" name="switch_2" value="no" />
        <label for="switch_right">No</label>
    </div>

    <div class="switch-field">
        <div class="switch-title">Three fields? Sure.</div>
        <input type="radio" id="switch_3_left" name="switch_3" value="yes" checked />
        <label for="switch_3_left">One</label>
        <input type="radio" id="switch_3_center" name="switch_3" value="maybe" />
        <label for="switch_3_center">Two</label>
        <input type="radio" id="switch_3_right" name="switch_3" value="no" />
        <label for="switch_3_right">Three</label>
    </div>
</form>
@*<form class="myForm container">
        <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
            <span class="bmd-help">We'll never share your email with anyone else.</span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleSelect1" class="bmd-label-floating">Example select</label>
            <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleSelect2" class="bmd-label-floating">Example multiple select</label>
            <select multiple class="form-control" id="exampleSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="bmd-label-floating">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputFile" class="bmd-label-floating">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile">
            <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary btn-raised">Submit</button>
    </form>*@

@*<script src="~/temp/jquery.min.js"></script>
    <script src="~/temp/popper.min.js"></script>*@
@*<script src="~/temp/bootstrap-material-design.min.js"></script>*@

@*<script src="/temp/materialize.min.js"></script>*@

<script>

    $(document).ready(function ()
    {
        $('.modal').modal();
        $('input#input_text, textarea#textarea2').characterCounter();
    });
</script>

