
/***
Notes
***/
.note {
    margin: 0 0 20px 0;
    padding: 15px 15px 15px 30px;
    border-right: 5px solid #eee;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

    .note h1,
    .note h2,
    .note h3,
    .note h4,
    .note h5,
    .note h6 {
        margin-top: 0;
    }

        .note h1 .close,
        .note h2 .close,
        .note h3 .close,
        .note h4 .close,
        .note h5 .close,
        .note h6 .close {
            margin-left: -10px;
        }

    .note p {
        margin: 0;
        font-size: 13px;
    }

        .note p:last-child {
            margin-bottom: 0;
        }

    .note code,
    .note .highlight {
        background-color: #fff;
    }

    .note.note-default {
        background-color: white;
        border-color: #b0c1d2;
        color: black;
    }

        .note.note-default.note-bordered {
            background-color: #eef1f5;
            border-color: #c0cedb;
        }

        .note.note-default.note-shadow {
            background-color: #f1f4f7;
            border-color: #d1dbe4;
            box-shadow: -5px 5px rgba(212, 221, 230, 0.2);
        }

    .note.note-success {
        background-color: #c0edf1;
        border-color: #58d0da;
        color: black;
    }

        .note.note-success.note-bordered {
            background-color: #a7e6ec;
            border-color: #6dd6df;
        }

        .note.note-success.note-shadow {
            background-color: #abe7ed;
            border-color: #81dbe3;
            box-shadow: -5px 5px rgba(134, 221, 228, 0.2);
        }

    .note.note-info {
        background-color: #f5f8fd;
        border-color: #8bb4e7;
        color: #010407;
    }

        .note.note-info.note-bordered {
            background-color: #dbe8f8;
            border-color: #a0c2ec;
        }

        .note.note-info.note-shadow {
            background-color: #e0ebf9;
            border-color: #b5cff0;
            box-shadow: -5px 5px rgba(185, 210, 241, 0.2);
        }

    .note.note-warning {
        background-color: #faeaa9;
        border-color: #f3cc31;
        color: black;
    }

        .note.note-warning.note-bordered {
            background-color: #f8e38c;
            border-color: #f4d249;
        }

        .note.note-warning.note-shadow {
            background-color: #f9e491;
            border-color: #f6d861;
            box-shadow: -5px 5px rgba(246, 217, 102, 0.2);
        }

    .note.note-danger {
        background-color: #fef7f8;
        border-color: #f0868e;
        color: #210406;
    }

        .note.note-danger.note-bordered {
            background-color: #fbdcde;
            border-color: #f39da3;
        }

        .note.note-danger.note-shadow {
            background-color: #fbe1e3;
            border-color: #f6b3b8;
            box-shadow: -5px 5px rgba(246, 184, 189, 0.2);
        }