*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

body {
    /*background: linear-gradient(#fff, #e2e2e2) no-repeat;*/
    /*background: url(../images/bg.png) #f8f8ff;*/
    font-family: 'Samim', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #000;
    margin: 0;
}

@font-face {
    font-family: 'Samim';
    src: url('/webfonts/samim/Samim.eot');
    src: url('/webfonts/samim/Samim.eot?#iefix') format('embedded-opentype'), 
         url('/webfonts/samim/Samim.woff') format('woff'), 
         url('/webfonts/samim/Samim.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Samim';
    src: url('/webfonts/samim/Samim-Bold.eot');
    src: url('/webfonts/samim/Samim-Bold.eot?#iefix') format('embedded-opentype'), 
         url('/webfonts/samim/Samim-Bold.woff') format('woff'), 
         url('/webfonts/samim/Samim-Bold.ttf') format('truetype');
    font-weight: bold;
}
a {
    list-style: none !important;
    list-style-type: none !important;
}
.header {
    height: 60vh;
    margin-top: 70px;
    opacity: 0.3;
}
#content {
    height: auto;
    min-height: 250px;
}
footer {
    min-height: 30px;
    display: block;
    color: #fff;
}

footer .support-layer {
    padding-right: 390px;
    padding-bottom: 20px;
    margin-top: 15px;
}
footer .top-layer {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-top: 2px solid silver;
    padding: 30px 0 0;
}
    footer .top-layer .about-layer {
        width: 32%;
        float: right;
        background-color: #b7b8b9;
        margin-top: -90px;
        border: 2px solid gray;
    }
footer .top-layer .about-layer .inner {
    padding: 30px;
    min-height: 283px;
}
footer .top-layer .left-side {
    width: 68%;
    float: right;
    padding-right: 30px;
}
    footer .top-layer .left-side .right-col {
        width: 60%;
        float: right;
    }
    footer .top-layer .left-side .left-col {
        width: 40%;
        float: right;
        padding-right: 30px;
    }
footer .top-layer .left-side .statistics ul li:nth-child(1) {
    width: 35%;
}

footer .top-layer .left-side .statistics ul li {
    display: inline-table;
    float: right;
    padding-right: 45px;
    position: relative;
}

footer .top-layer .left-side .right-col ul li {
    width: 50%;
    float: right;
    padding-left: 15px;
}
    footer .top-layer .left-side .left-col .newsletter {
        margin-bottom: 50px;
    }
    footer .bottom-layer {
        width: 100%;
        background-color: gray;
        padding: 15px 0;
    }
        footer .bottom-layer .socials {
            width: auto;
            display: inline-table;
            float: left;
            padding-top: 3px;
        }
    footer .top-layer .left-side .left-col .newsletter form input {
        width: 100%;
        height: 45px;
        line-height: 45px;
        background-color: #fff;
        padding: 0 10px;
        font-size: 13px;
        border: 0;
    }
    footer .top-layer .left-side .left-col .newsletter form button i {
        position: relative;
        top: 2px;
    }

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'material';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.zmdi-plus:before {
    content: '\f278';
}
footer .top-layer .left-side .statistics ul li i.zmdi-shopping-cart {
    font-size: 44px;
}

footer .top-layer .left-side .statistics ul li i {
    font-size: 52px;
    color: #2a3e50;
    position: absolute;
    right: 0;
}


/*.navbar {
    height: auto;
    border-radius: 0 !important;
    padding: 0 !important;
    margin-bottom: 0;
    border-width: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
ul.nav.navbar-nav {
    font-weight: bold;
}*/

.optional-label {
    font-size: 10pt;
    color: Gray;
    margin-right: 7px;
}

.userImage {
    width: 30px;
    height: 30px;
    border: 1px solid #CECECE;
    overflow: hidden;
    margin-left: 2px;
}


.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: initial !important;
}

.list-group > .active > a, .list-group > .active > a:hover, .list-group > .active > a:focus {
    color: #fff;
    background: transparent none repeat scroll 0 0;
}

.panel-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.pagerSpan {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
}

    .pagerSpan:hover {
        background-color: #eee;
        text-decoration: none;
    }
/*.navbar {
    background: #fff !important;
    border-radius: 0px !important;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    border-width: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar .nav-item .nav-link {
    color: #000 !important;
}

.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link {
    color: red !important;
}
.adv {
    height: 100px;
}
.nav-right {
    text-align: right;
    padding-right: 50px;
}
.nav-left {
    text-align: left;
}
#content {
    padding-top: 25px;
}*/

#first-column, #second-column, #third-column {
    border: 1px solid silver;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
    padding-bottom: 10px;
    min-width: 190px;
}

.box {
    width: 100%;
    background: #FFF;
    /*margin: 40px auto;*/
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/** The Magic ****/
.breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    /*background-color: #e9ecef;*/
    background-color: #343A40 !important;
    border-radius: .25rem;
}
.breadcrumb-item a{
    color: white !important;
}
.breadcrumb-item a:hover {
    color: lime !important;
    text-decoration: none;
}
    .breadcrumb-item.active {
        color: #FEC400;
    }

.breadcrumb-item + .breadcrumb-item {
    padding-left: .5rem
}

    .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding-right: .5rem;
        color: #F6F6FD; /*#6c757d;*/
        content: "/"
    }

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none
}

.field-validation-error {
    color: red;
    font-weight: bold;
}


/************************************** navbar ****************************************/
.navbar {
    background: #343A40;
    border-bottom: solid 4px #fcab0e;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #fec400;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}
.nav-link:hover {
    color: #fff !important;
}
.dropdown {
    border-radius: 0;
    border: 0;
}

.dropdown-menu {
    right: -54px !important;
    background: #343A40;
    border-radius: 0px 0px 5px 5px;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    border: 1px solid #FCAB0E !important;
    margin: 0 !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*.dropdown-item:hover {
    background: #fff;
    color: silver;
}*/

.dropdown-item.active, .dropdown-item:active {
    color: #1b1b1b !important;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffe7ba !important;
}

.dropdown-menu a {
    color: #fff !important;
    font-size: 12px;
    font-weight: normal;
}
/*.dropdown-item.active, .dropdown-item:active {
    color: #212529;
}*/

.dropdown-item:focus, .dropdown-item:hover {
    background: #fec400;
}

.navbar-brand {
    margin-left: 10rem;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        font-size: 0.75rem;
        position: absolute;
        right: 0;
        font-family: sans-serif;
    }

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        top: -10px;
    }

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

        .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
            display: block;
            width: 48px;
            margin: 2px auto 4px auto;
            top: 0;
            line-height: 24px;
        }

            .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
                top: -7px;
            }
}

.search input { text-indent: 30px;}
.search .fa-search { 
    position: absolute;
    top: 24px;
    left: 7px;
    font-size: 15px;
}


/******************slider *****************/
.slider-container {
    /*padding-top: 92px;*/
    height: 600px;
}

.carousel,
.carousel-item,
.active {
    height: 100%;
}
    .carousel-item {
        height: 600px;
    }
    .carousel-inner {
        height: 100%;
        background: #1b1b1b;
    }

.carousel-caption{padding-bottom:80px;}

h2{font-size: 60px;}
p{padding:10px}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    /*opacity:0.7;*/
}


/**
 * Button
 */
.btn-transparent {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.btn-transparent:hover {
    background-color: #fff;
}

.btn-rounded {
    border-radius: 70px;
}

.btn-large {
    padding: 11px 45px;
    font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}