
@{
    Layout = "~/Views/Shared/_ColumnsOneLayout.cshtml";
}
<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">با تشکر!</h5>
    </div>
    <div class="card-body">
        ثبت نام شما با موفقیت انجام شد.
        لطفا جهت ورود به سیستم <a asp-controller="Account" asp-action="Login">اینجا</a> کلیک کنید.
    </div>
</div>