@{
    ViewData["Title"] = "تائید تغییر کلمه‌ی عبور";
    Layout = "_ColumnsOneLayout";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        کلمه‌ی عبور شما تغییر یافت. لطفا جهت ورود به سیستم <a asp-controller="Account" asp-action="Login">اینجا</a> کلیک کنید.
    </div>
</div>