<div class="container-fluid pb-1 text-center">
    <img src="~/dist/img/adv/ads1.gif" />
    <img src="~/dist/img/adv/en7e46n7ogy2a96cxy70.gif" />
    @*<img src="~/images/adv/images2.png" />
        <img src="~/images/adv/tour-ads-2.png" />
        <img src="~/images/adv/tabligh.940.gif" />
        <img src="~/images/adv/images.png" />*@
</div>
