@{
    Layout = "_RootLayout";
}
<div style="background-color: #000; color: gold;height: 30px">
    <p style="text-align: center">کمی وقت بذارو  شغل مورد علاقتو از طریق این سایت پیدا کن.</p>
</div>
@await Html.PartialAsync("_NavbarMenu")
@await Html.PartialAsync("_Header")
@await Html.PartialAsync("_BreadCrumb")

<div class="container">
    <main role="main">
        <div id="content" class="row">
            @RenderBody()
        </div>
    </main>
</div>
<!-- login modal form -->
<div id="login-modal" class="modal modal-fixed-footer"></div>
@*@await Html.PartialAsync("_Adv")*@

@await Html.PartialAsync("_Footer")
@await Html.PartialAsync("_Foot")
@await RenderSectionAsync("Scripts", required: false)

