<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pt-3">
            <div>
                <breadcrumb asp-homepage-title="خانه"
                            asp-bootstrap-version="V4"
                            asp-homepage-url="@Url.Action("Index", "Home", values: new {area = ""})"
                            asp-homepage-glyphicon="fas fa-home">
                </breadcrumb>
            </div>
        </div>
    </div>
</div>
