<footer>
    <div class="container">
        <div class="support-layer">
            <a href="#">در این سایت شغل مناسب خود را پیدا کنید.</a>
            <span> </span>
        </div>
    </div>

    <div class="top-layer">

        <div class="container">
            <section class="about-layer">
                <div class="inner">
                    <ul>
                        <li><a>آگهی‌های استخدام</a></li>
                        <li><a>‌سوالات متداول</a></li>
                    </ul>

                </div>
            </section>

            <div class="left-side">
                <div class="right-col">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                    </ul>

                </div>
                <div class="left-col">
                    <!-- newsletter -->
                    <div class="newsletter">
                        <h3> عضویت در خبرنامه </h3>
                        <p>
                            ثبت نام رایگان ...
                        </p>

                        <form data-ajax="true" data-method="post" data-ajax-mode="replace" data-ajax-success="EmailStatus"
                              action="/Home/AddToNewsLetter" method="post">

                            <input type="text" name="Email" placeholder="ایمیل خود را وارد نمایید" id="NewsLetterEmail">
                            <button type="submit" class="btn btn-success">عضویت</button>
                        </form>

                    </div>

                    <!-- namad -->
                    <div class="namad-layer">
                        test
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>

    <div class="bottom-layer">
        <div class="container">
            <div class="socials">
                <a href=""><i class="zmdi zmdi-facebook"></i></a>
                <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                <a href=""><i class="zmdi zmdi-google-old"></i></a>
                <a href=""><i class="icon-whatsapp"></i></a>
                <a target="_blank" href="http://instagram.com/atiehjob"><i class="icon-instagram"></i></a>
                <a target="_blank" href="http://t.me/atiehjob"><i class="icon-telegram"></i></a>
            </div>
            <p>
                تمامی حقوق مادی و معنوی این سایت متعلق به <a href="/"> آتیه کار </a> می باشد،  کپی برداری از منابع پیگرد قانونی خواهد داشت .
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>

<script type="text/javascript" asp-src-include="/js/jqueryAll.min.js" asp-append-version="true"></script>
<script type="text/javascript" asp-src-include="/js/web.min.js" asp-append-version="true"></script>
