@*<div class="header">
        <img src="~/img/slide7.jpg" style="height: 100%; position: relative; width: 100%;" alt="کاریابی آتیه کار" />
    </div>
    <div style="background-color: silver; text-align: center; vertical-align: center; opacity: .9;color: #fff;height: 60px;padding: 20px 0;">
        <a asp-controller="Home" asp-action="Index">نمایش همه فرصت های شغلی</a>
    </div>*@
@*<style>

        .search-banner {
            background-image: url("/img/slide7.jpg");
            background-size: cover;
            height: 738px;
        }

        .card-form {
            background: rgba(255, 255, 255, 0.58);
        }

        .search-text {
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
    </style>
    <section class="search-banner text-white py-3" id="search-banner" style="margin-top: 90px">
        <div class="container py-5 my-5">
            <div class="row text-center pb-4">
                <div class="col-md-12">
                    <h2 class="text-white search-text">جستجو</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="iller" class="form-control">
                                            <option selected>کشور</option>
                                            <option>İstanbul</option>
                                            <option>Ankara</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="ilceler" class="form-control">
                                            <option selected>استان</option>
                                            <option>BMW</option>
                                            <option>Audi</option>
                                            <option>Maruti</option>
                                            <option>Tesla</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="arac-turu" class="form-control">
                                            <option selected>شهر</option>
                                            <option>Otobüs</option>
                                            <option>Minibüs</option>
                                            <option>Karavan</option>
                                            <option>Vito</option>
                                            <option>Limuzin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <p class="font-weight-light text-dark">ya da</p>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="جستجو.....">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-warning  pl-5 pr-5">جستجو</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@await Html.PartialAsync("_Slider")
