<div class="header">
    <img src="~/img/slide7.jpg" style="height: 100%; position: relative; width: 100%;" alt="کاریابی آتیه کار" />
</div>
<div style="background-color: silver; text-align: center; vertical-align: center; opacity: .9;color: #fff;height: 60px;padding: 20px 0;">
    <a asp-controller="Home" asp-action="Index">نمایش همه فرصت های شغلی</a>
</div>
