@*@inject IUsersPhotoService UsersPhotoService;
    @{
        var displayName = User.Identity.GetUserDisplayName();
        var photoUrl = UsersPhotoService.GetCurrentUserPhotoUrl();
    }*@

@*navbar bg-dark navbar-dark navbar-expand-sm fixed-top*@
<div class="navbar navbar-expand-md navbar-expand-sm navUp navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a asp-controller="Home" asp-action="Index" asp-area="" class="navbar-brand d-none d-sm-inline-block">
            آتیه کار
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#myToggle" aria-controls="myToggle" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myToggle">
            <div class="navbar-nav ml-2">
                <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="fas fa-home" aria-hidden="true"></span>
                    خانه
                </a>
            </div>

            <div class="navbar-nav">
                <div class="dropdown">
                    <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown"
                       id="userDropdown" aria-haspopup="true"
                       aria-expanded="false" href="#">
                        <img class="img-thumbnail userImage" src="" alt="" asp-append-version="true"
                             onerror="this.style.visibility = 'hidden';this.width=0; this.height=0;" />
                        <span class="author">Test</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-controller="Home" asp-action="ColumnsOne" asp-area="">
                            <span class="mr-1 fas fa-user" aria-hidden="true"></span>
                            تک ستونی
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Home" asp-action="ColumnsTwo" asp-area="">
                            <span class="mr-1 fas fa-user" aria-hidden="true"></span>
                            دو ستونی
                        </a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="ColumnsThird" asp-area="">
                            <span class="mr-1 fas fa-user" aria-hidden="true"></span>
                            سه ستونی
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Error" asp-area="">
                            <span class="mr-1 fas fa-sign-out-alt" aria-hidden="true"></span>
                            خطا
                        </a>
                    </div>
                </div>
            </div>
            @if (IsAuthenticated())
            {
                if (IsAdminRole)
                {
                    <div class="navbar-nav ml-2 right">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Index" asp-area="Admin">
                            <span class="fas fa-arrow-left" aria-hidden="true"></span> مدیر سیستم
                        </a>
                    </div>
                }
                <div class="navbar-nav ml-2">
                    <a class="nav-item nav-link" asp-controller="User" asp-action="Logout" asp-area="Account">
                        <span class="fas fa-sign-out-alt" aria-hidden="true"></span> خروج
                    </a>
                </div>
            }
            else
            {
                <div class="navbar-nav ml-2">
                    <a class="nav-item nav-link" asp-controller="User" asp-action="Login" asp-area="Account">
                        <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                        ورود
                    </a>
                </div>

                <div class="navbar-nav ml-2">
                    <a class="nav-item nav-link" asp-controller="User" asp-action="RegisterJobseeker" asp-area="Account">
                        <span class="fas fa-plug"></span>
                        ثبت نام کارجو
                    </a>
                </div>
                <div class="navbar-nav ml-2">
                    <a class="nav-item nav-link" asp-controller="User" asp-action="RegisterEmplyer" asp-area="Account">
                        <span class="fas fa-plug"></span>
                        ثبت نام کارفرما
                    </a>
                </div>
                <div class="navbar-nav ml-2">
                    <a class="nav-item nav-link" asp-controller="User" asp-action="RegisterPlacement" asp-area="Account">
                        <span class="fas fa-plug"></span>
                        ثبت نام کاریاب
                    </a>
                </div>
            }
            <form class="form-inline mt-2 mt-md-0 mr-auto">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <input type="text" class="form-control mr-sm-2"
                           placeholder="جستجو ..." id="txtSearch" name="txtSearch">
                </div>
            </form>

            @await Component.InvokeAsync("LanguageSelector")
        </div>
    </div>
</div>
